<!-- Header-->
<div class="bg-gray-900 pattern">
    <div class="container px-6 mx-auto">
        <nav class="flex flex-col py-2 sm:flex-row sm:justify-between sm:items-center">
            <div>
                <a href="#" class="text-2xl font-semibold text-white hover:text-gray-300">Fonogram</a>
            </div>

            <div class="flex flex-row items-center mt-2 -mx-2 sm:mt-0">
                <a href="#"
                    class="px-3 flex items-center py-1 text-sm font-semibold text-white transition-colors duration-200 transform border-2 rounded-md hover:bg-gray-700"><i class="mr-1" nz-icon nzType="audio" nzTheme="outline"></i> Crear</a>
                <a href="#"
                    class="px-3 py-2 mx-2 text-sm font-semibold text-white transition-colors duration-200 transform bg-black rounded-md hover:bg-gray-800">Descargar
                    app</a>
            </div>
        </nav>

        <div class="flex flex-col items-center py-6 lg:h-128 lg:flex-row">
            <div class="lg:w-1/2">
                <h2 class="text-4xl font-semibold text-gray-100">Luis Fernando Nestares</h2>

                <h3 class="text-2xl font-semibold text-gray-100">
                    Hello <span class="text-indigo-400">Guest</span>
                </h3>

                <p class="mt-3 text-gray-100">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
            </div>

            <div class="flex mt-8 lg:w-1/2 lg:justify-end lg:mt-0">
                <div class="max-w-sm w-4/5 bg-white rounded-lg dark:bg-gray-800">
                    <div class="p-3">
                        <img src="https://uploads-ssl.webflow.com/5e336ab12524a29b2d20c2cc/5e6c0753a2ae973cbe201d92_EvoStudio.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header -->

<!-- AudioContent -->
<div class="flex flex-col content-center justify-center items-center mt-16 pb-6">
    <!-- AudioCard -->
    <div *ngFor="let audio of [1,1,1]" class="sm:w-3/5 w-4/5 audio-card-bg-color rounded-lg flex flex-row flex-wrap justify-center xl:justify-start p-3 m-3">
        <div class="m-3">
            <img class="h-36" src="https://f4.bcbits.com/img/0018958918_10.jpg" alt="">
        </div>
        <div class="m-3 w-2/3 flex flex-col justify-between text-white">
            <p class="font-normal text-xl">Episodio 1</p>
            <p class="font-bold text-2xl">Audio Club - Podcasting</p>
            <p class="text-gray-400 break-words mt-3">Descripción del contendio del audio del artista. Donde en realidad de seben escribir paabras sino no tendría sentido todo el wrap que estoy haciendo si es que no agarro por palabras simples y segmentadas.K</p>
            
            <div class="flex flex-row space-x-3 mt-3">
                <p class="font-bold text-sm mt-3">ft. Luis, Alexis, Geo</p>
                <div class="flex -space-x-1">
                    <a *ngFor="let artist of [1,1,1,1]" href="#" class="">
                        <img class="inline-block h-8 w-8 rounded-full object-cover" src="https://www.tailwind-kit.com/images/person/4.jpg" alt="Guy"/>
                    </a>
                </div>
            </div>
            <!-- Audio Player -->
            <div class="mt-6">
                <div class="w-full" plyr plyrType='audio' plyrTitle="Video 1" [plyrPlaysInline]="true" [plyrSources]="videoSources" (plyrInit)="player = $event" (plyrPlay)="played($event)"></div>
            </div>
        </div>
    </div>

</div>
<!-- End AudioContent -->