<div>
    <img src="../../../../../assets/images/fonogram-logo.png" class="h-7 fixed mt-3 ml-5" alt="">
</div>
<section class="text-blueGray-700 h-full flex flex-col justify-center items-center fonogram-bg-color">
    <div class="container items-center px-5 py-12 lg:px-20">
        <div class="
            flex flex-col
            w-full
            max-w-md
            p-10
            mx-auto
            my-6
            transition
            duration-500
            ease-in-out
            transform
            rounded-lg
            md:mt-0
            text-white
          ">
            <div class="flex justify-center text-center font-medium text-3xl text-neutral-600">
                ¿Olvidaste tu contraseña?
            </div>
            <div class="flex mt-6 justify-center text-center font-normal text-base text-neutral-600">
                Ingresa el correo electrónico con el que te registraste y te enviaremos un enlace para restablecer tu
                contraseña.
            </div>
            <div class="mt-8">
                <div class="mt-6">
                    <form action="#" method="POST" class="space-y-6">
                        <div>
                            <div class="mt-1">
                                <input id="email" name="email" type="email" autocomplete="email" required=""
                                    placeholder="fonogram@example.com" class="
                        block
                        w-full
                        px-5
                        py-3
                        text-base text-neutral-600
                        placeholder-gray-300
                        transition
                        duration-500
                        ease-in-out
                        transform
                        border border-transparent
                        rounded-lg
                        text-black
                        bg-gray-50
                        focus:outline-none
                        focus:border-transparent
                        focus:ring-2
                        focus:ring-white
                        focus:ring-offset-2
                        focus:ring-offset-gray-300
                      ">
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="
                      flex
                      items-center
                      justify-center
                      w-full
                      px-10
                      py-4
                      text-base
                      font-medium
                      text-center text-white
                      transition
                      duration-500
                      ease-in-out
                      transform
                      bg-blue-400
                      rounded-xl
                      hover:bg-blue-500
                      focus:outline-none
                      focus:ring-2
                      focus:ring-offset-2
                      focus:ring-blue-500
                    "> Enviar correo </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>