<div class="flex flex-col">
    <div class="flex flex-row py-8 bg-gray-700">
        <img class="w-36 h-36 mx-8 rounded-2xl sm:h-52 sm:w-52 shadow-2xl"
            src="https://media.istockphoto.com/vectors/podcast-line-button-white-colored-on-gradient-background-vector-vector-id1179997501?k=20&m=1179997501&s=612x612&w=0&h=BEeNMUCqvc88zdUUsZufGPLn7R2yrQ1w-GVqwdPjs7E="
            alt="">
        <div class="flex flex-col justify-end text-white">
            <p class="text-lg">Podcast</p>
            <p class="text-6xl font-bold">Tracción</p>
            <p class="text-lg">Victor Cortés</p>
        </div>
    </div>
</div>