<section class="text-blueGray-700 flex flex-col justify-center content-center fonogram-bg-color">
    <div class="container items-center px-5 py-12">
        <div class="
            flex flex-col
            w-full
            p-10
            mx-auto
            my-6
            transition
            duration-500
            ease-in-out
            transform
            rounded-lg
            md:mt-0
            text-white
          ">
            <div class="flex justify-center font-medium text-3xl text-neutral-600">
                Membresía Beta
            </div>
            <div class="flex mt-6 justify-center font-medium text-base text-neutral-600">
                Acceso a un audio club exclusivo ¡Gratis! 🎁
            </div>
            <div class="flex justify-center font-medium text-base text-neutral-600">
                (Tiempo limitado)
            </div>
            <div class="mt-8">
                <div class="mt-6">
                    <section class="text-gray-600 body-font">
                        <div class="container px-5 mx-auto">
                            <div class="flex flex-row flex-wrap justify-center -m-4">
                                <!-- Card -->
                                <div *ngFor="let card of subscriptionCards" class="p-4 w-80 h-96">
                                    <button class="h-full w-full focus:border-blue-500 border-4 border-white bg-white px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
                                        <div class="h-full flex flex-col justify-between">
                                            <div class="h-2/4">
                                                <h2 class="tracking-widest text-lg title-font font-medium text-gray-400 mb-1">
                                                    Audio Club</h2>
                                                <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">
                                                    {{card.title}}</h1>
                                            </div>
                                            <div class="h-2/4">
                                                <p class="leading-relaxed mt-8">{{card.content1}}</p>
                                            <p class="leading-relaxed mb-3">{{card.content2}}</p>
                                            </div>
                                            <div
                                                class="text-center mt-2 leading-none flex justify-center absolute bottom-0 left-0 w-full py-4">
                                                <button
                                                    class="flex fonogram-bg-color items-center px-2 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none focus:ring focus:ring-indigo-300 focus:ring-opacity-80">
                                                    <i class="mt-0.5" nz-icon nzType="play-circle" nzTheme="outline"></i>
                                                    <span class="mx-1">Escuchar trailer</span>
                                                </button>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </section>

                    <div class="flex justify-center mt-8">
                        <button type="submit" class="
                      flex
                      items-center
                      justify-center
                      w-48
                      px-10
                      py-4
                      text-base
                      font-medium
                      text-center text-white
                      transition
                      duration-500
                      ease-in-out
                      transform
                      bg-blue-400
                      rounded-xl
                      hover:bg-blue-500
                      focus:outline-none
                      focus:ring-2
                      focus:ring-offset-2
                      focus:ring-blue-500
                    "> Siguiente </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>